<mat-toolbar [ngStyle]="{'color': 'rgba(35, 23, 139, 0.5)'}">
    <button mat-button (click)="sidenav.open()">
        Menu
    </button>
    <span class="spacer"></span>
    <span>
        <h3>News app</h3>
    </span>
    <span class="spacer"></span>
    <button mat-button>
        Settings
    </button>
</mat-toolbar>
<div class="fixed-container">
    <mat-sidenav-container class="container">

        <mat-sidenav #sidenav class="sidenav">
            <mat-list class="list-nav">
                <mat-list-item class="list-item" *ngFor="let source of mSources"
                    (click)="searchArticles(source.id);sidenav.close();">
                    <div mat-card-avatar class="header-image"></div>
                    <span class="source-name"> {{source.name}}</span>
                </mat-list-item>
            </mat-list>
        </mat-sidenav>
        <mat-card class="card" *ngFor="let article of mArticles">
            <mat-card-header>
                <mat-card-title class="title">{{article.title}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="img-article" src={{article.urlToImage}} alt="">
            <mat-card-content>
                <p>
                    {{article.description}}
                </p>
            </mat-card-content>
            <mat-card-actions class="action-buttons">
                <button mat-button [ngStyle]="{'color': 'black'}">
                    12 Likes
                </button>
                <button mat-button [ngStyle]="{'color': 'black'}">
                    Comments
                </button>
                <button mat-button [ngStyle]="{'color': 'black'}">
                    Share
                </button>
                <a mat-button [ngStyle]="{'color': 'black'}" href={{article.url}} target="_blank">
                    More
                </a>
            </mat-card-actions>
        </mat-card>
    </mat-sidenav-container>
</div>